extends layout

block content
  h1= title
  p Welcome to #{title}
  
  form#form_add_task(name="verifyuser", method="post", action="/verifyuser")
    span Enter Username:  
    input#input_user(type="text", placeholder="user", value=user name="user")
    br
    br
    span Enter Work Time in minutes (8 hours is 480)
    input#input_user(type="number", placeholder=time, value=time, name="workhours")
    button#submit_task(type="submit") submit
