extends layout



block content
  div
    table
      thead
        tr
          td
            form#form_add_task(name="addtask", method="get", action="/")
              button#submit_task(type="submit") Change User
          td
            form#form_add_task(name="addtask", method="get", action="/addtask")
              button#submit_task(type="submit") Add New Task
          td
            form#form_add_task(name="sortD", method="get", action="/sortD")
              button#submit_task(type="submit") Sort List by Date
          td  
            form#form_add_task(name="sortP", method="get", action="/sortP")
              button#submit_task(type="submit") Sort List by Priority
          td  
            form#form_add_task(name="all", method="get", action="/thelist")
              button#submit_task(type="submit") Show All Tasks
  h3.
    Tasks
  div
    table(class="w3-table-all w3-hoverable w3-centered")
      thead
      tr(class="w3-blue")
        td(class="headers")
          x Task Name
        td(class="headers")
          x Hours
        td(class="headers")
          x Minutes
        td(class="headers", style="")
          x Priority
        td(class="headers", style="")
          x Due Date
        td(class="headers", style="")
          x Options
      tbody
        
        each task, i in trackerlist
          tr
            td
              x #{task.name}
            td
              x #{task.time[0]}
            td
              x #{task.time[1]}
            td
              x #{task.priority}
            td
              x #{task.duedate}
            td
              form#form_add_task(name="edittask", method="post", action="/edittask")
                input#input_user(type="hidden", placeholder="user", name="user", value=task._id)
                button#submit_task(type="submit") edit
              form#form_add_task(name="edittask", method="post", action="/deletetask")
                input#input_user(type="hidden", placeholder="user", name="user", value=task._id)
                button#submit_task(type="submit") delete


          
      tfoot(class="w3-green")
        -var summ=0;
        -var sumh=0;
        -var sumt=0;
        -for (var i = 0; i < trackerlist.length; i++){
          -sumt+=(parseInt(trackerlist[i].time[0])*60 + parseInt(trackerlist[i].time[1]))
          -summ+=(parseInt(trackerlist[i].time[1]))
          -if (summ>60){
            -summ-=60
            -sumh+=1
          -}
          -sumh+=(parseInt(trackerlist[i].time[0]))
        -}
        x The total time to complete this: #{sumh} hours #{summ} minutes
    br
    br
    h3 The total free time you have is: #{freeTime} minutes
    div
      table(class="w3-table-all w3-hoverable w3-centered")
        thead
        tr(class="w3-green")
          td(class="headers")
            x Task Name
          td(class="headers")
            x Hours
          td(class="headers")
            x Minutes
          td(class="headers", style="")
            x Priority
          td(class="headers", style="")
            x Due Date
          td(class="headers", style="")
            x Options
        tbody
          
          each task, i in bonuslist
            tr
              td
                x #{task.name}
              td
                x #{task.time[0]}
              td
                x #{task.time[1]}
              td
                x #{task.priority}
              td
                x #{task.duedate}
              td
                form#form_add_task(name="edittask", method="post", action="/edittask")
                  input#input_user(type="hidden", placeholder="user", name="user", value=task._id)
                  button#submit_task(type="submit") edit
                form#form_add_task(name="edittask", method="post", action="/deletetask")
                  input#input_user(type="hidden", placeholder="user", name="user", value=task._id)
                  button#submit_task(type="submit") delete    
          
      br
      br
      h3(style="w3-red") These tasks cannot be completed
      div
        table(class="w3-table-all w3-hoverable w3-centered")
          thead
          tr(class="w3-red")
            td(class="headers")
              x Task Name
            td(class="headers")
              x Hours
            td(class="headers")
              x Minutes
            td(class="headers", style="")
              x Priority
            td(class="headers", style="")
              x Due Date
            td(class="headers", style="")
              x Options
          tbody
            
            each task, i in deniedlist
              tr
                td
                  x #{task.name}
                td
                  x #{task.time[0]}
                td
                  x #{task.time[1]}
                td
                  x #{task.priority}
                td
                  x #{task.duedate}
                td
                  form#form_add_task(name="edittask", method="post", action="/edittask")
                    input#input_user(type="hidden", placeholder="user", name="user", value=task._id)
                    button#submit_task(type="submit") edit
                  form#form_add_task(name="edittask", method="post", action="/deletetask")
                    input#input_user(type="hidden", placeholder="user", name="user", value=task._id)
                    button#submit_task(type="submit") delete    
          
            
